.profile-image-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 10px;
}

.profile-page-image {
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Adjust the size as needed */
    border-radius: 50%; /* Makes the image round */
    border: 3px solid #3498db; /* Add a border with your preferred color */
    object-fit: cover; /* Ensures the image covers the container without distortion */
    padding: 5px;
}
